.popup__container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 430px;
  max-height: 330px;
  opacity: 1;
  background-color: #ffff;
  border-radius: 10px;
}

@media screen and (max-width: 510px) {
  .popup__container {
    max-width: 350px;
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .popup__container {
    max-width: 260px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 310px) {
  .popup__container {
    max-width: 200px;
  }
}
