.profile__edit-button {
  background-image: url(../../../images/logo/Edit-Button.svg);
  background-repeat: no-repeat;
  width: 24px;
  min-height: 24px;
  margin: 5px 0 0 0;
  border: none;
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  padding: 20px 5px 0 18px;
}
